[dir="rtl"] .sd-root-modern, [style*="direction:rtl"] .sd-root-modern {
  .sd-paneldynamic__remove-btn {
    float: left;
  }
  .sd-element__num {
    float: right;

    &+span {
      float: right;
    }
  }
  .sd-dropdown {
    background-position: left calcSize(1.5) top 50%, 0 0;
  }
}